.main_navigation {
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background: rgb(11, 205, 240);
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.main_navigation_logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.main_navigation_items {
    margin-left: 1.5rem;
}

.main_navigation_items ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main_navigation_items li {
    margin: 0 1rem;
}
.main_navigation_items a{
   text-decoration: none; 
}
.main_navigation_items a:hover,
.main_navigation_items a.active{
    color:white;
}
