.main_navigation {

    height: 4rem;
    background: #0bcdf0;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.main_navigation_logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.main_navigation_items {
    margin-left: 1.5rem;
}

.main_navigation_items ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main_navigation_items li {
    margin: 0 1rem;
}
.main_navigation_items a{
   text-decoration: none; 
}
.main_navigation_items a:hover,
.main_navigation_items a.active{
    color:white;
}
